*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    white-space: nowrap;
    text-decoration: underline;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-size: 25px;
    background-color: rgb(65, 150, 219);
}

.nav div{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav div a{
    text-decoration: none;
}